<!-- SIDEBAR -->
<div class="sidebar">
  <h2>Storepro</h2>

  <ul>
    <li>
      <a href="/dashboard" class="active">Dashboard</a>
    </li>

    <li>
      <a href="/billing">Invoices</a>
    </li>

    <li>
      <a href="/inventory">Inventory</a>
    </li>

    <li>
      <a href="/customers">Customers</a>
    </li>

    <li>
      <a href="/reports">Reports</a>
    </li>
  </ul>
</div>
