<!-- SIDEBAR -->

<div class="sidebar">
  <h2>Storepro</h2>
  <a href="http://localhost:8080/dashboard"><li class="active">Dashboard</li></a>

  <a href="http://localhost:8080/billing">
    <li>Invoices</li>
  </a>
  <a href="http://localhost:8080/inventory">
    <li>Inventory</li>
  </a>
  <li>Customers</li>
  <li>Reports</li>
  
  <li>Settings</li>
</div>