<!-- SIDEBAR -->

<div class="sidebar">
  <h2>Storepro</h2>
  <a href="http://localhost:8080/dashboard"><li class="active">Dashboard</li></a>

  <a href="http://localhost:8080/billing">
    <li class="active">Invoices</li>
  </a>
  <li class="active">Inventory</li>
  <li>Customers</li>
  <li>Reports</li>
  <li>Payments</li>
  <li>Settings</li>
</div>