@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;

}

body {
  background: #f5f7fb;
}
.main {
       /* sidebar width */
  padding: 24px 32px;      /* SAME spacing for all pages */
  min-height: 100vh;
}
