@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
  

}


body {
  background: #f5f7fb;
}
.main {
       /* sidebar width */
  padding: 24px 32px;      /* SAME spacing for all pages */
  min-height: 100vh;


}


.print-header{
  display: none;
}

.print-meta {
  display: none;
}
/* ===============================
   GLOBAL PRINT FIX
   =============================== */
@media print {
  /* Hide sidebar & top nav */
  .sidebar,
  .topbar,
  .navbar,
  .header,
  .print-btn {
    display: none !important;
  }

  /* Reset main content spacing */
 
  .print-header {
    display: block;
    margin-bottom: 12px;
  }

  .shop-name {
    font-size: 16px;
    font-weight: bold;
  }
  

  .sales-main,
  .profit-main,
  .gst-main,
  .stock-main,
  .payments-main,
  .dues-main,
  .reports-main {
    margin-left: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  /* Optional: improve print readability */
  h2 {
    margin-top: 0;
  }
   /* Page setup */
  /* @page {
    size: A4 portrait;
    margin: 12mm;
  } */
.print-meta {
    display: block;
    font-size: 12px;
    color: #000;
    margin: 6px 0 12px 0;
  }
  /* Tables fit page */
  

  
}
