




.dashboard {
  margin-left: 260px;   /* SAME as sidebar width */
  
  min-height: 100vh;
}


/* HEADER */
.header{display:flex;justify-content:space-between;margin-bottom:30px}
.header h1{color:#0f172a}

/* KPIs */
.kpis{
  display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;margin-bottom:30px
}
.kpi{
  background:#fff;padding:22px;border-radius:18px;
  box-shadow:0 10px 30px rgba(0,0,0,.06);
  cursor:pointer;transition:.25s
}
.kpi:hover{transform:translateY(-4px)}
.kpi p{color:#64748b;font-size:.85rem}
.kpi h2{margin-top:8px;color:#0f172a}

/* GRID */
.grid{display:grid;grid-template-columns:2fr 1fr;gap:25px}

/* BOX */
.box{
  background:#fff;padding:25px;border-radius:18px;
  box-shadow:0 10px 30px rgba(0,0,0,.05)
}
.box h3{margin-bottom:18px;color:#0f172a}

/* TABLE */
table{width:100%;border-collapse:collapse}
th,td{padding:12px 8px;font-size:.9rem}
th{color:#64748b;text-align:left}
tr:not(:last-child){border-bottom:1px solid #e5e7eb}

/* BADGE */
.badge{padding:6px 12px;border-radius:20px;font-size:.75rem}
.paid{background:#dcfce7;color:#166534}
.pending{background:#fee2e2;color:#991b1b}
.overdue{background:#ffedd5;color:#9a3412}

/* CHART */
.chart{
  height:220px;border-radius:14px;
  background:linear-gradient(180deg,#e0f2fe,#ffffff);
  display:flex;align-items:center;justify-content:center;
  color:#0369a1;font-size:.95rem
}

/* ALERT */
.alert{
  background:#fff7ed;padding:14px;border-radius:12px;
  margin-bottom:10px;font-size:.9rem;color:#9a3412
}


