<% layout('/layouts/boilerplate') %>
  <link rel="stylesheet" href="/style/billing.css">


<div class="billing">

  <div class="billing-header">
    <h1>Billing</h1>
    <a href="http://localhost:8080/bills/new">
    <button class="create">+ Create Invoice</button>

    </a>
  </div>

  <div class="billing-box">
    <table>
      <tr>
        <th>Invoice</th>
        <th>Customer</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>

      <tr>
        <td>#INV-2031</td>
        <td>Ahmad Traders</td>
        <td>12 Aug 2025</td>
        <td>₹18,400</td>
        <td><span class="badge paid">Paid</span></td>
      </tr>

      <tr>
        <td>#INV-2032</td>
        <td>Khan Stores</td>
        <td>14 Aug 2025</td>
        <td>₹9,700</td>
        <td><span class="badge pending">Pending</span></td>
      </tr>

      <tr>
        <td>#INV-2033</td>
        <td>Royal Mart</td>
        <td>16 Aug 2025</td>
        <td>₹22,150</td>
        <td><span class="badge overdue">Overdue</span></td>
      </tr>
    </table>
  </div>

</div>
